.header {
    background-color: #2196F3;
    height: 40px;
}

.navigation-line {
    background-color: #BBDEFB;
}

input[type="text"], textarea {
  background-color : #e4f3ff;
  border: 0px;
  border-style: none;
}

.file-entry {
	height: 50px;
}


div.table { 
	width:100%;
	display: table; 
	border-collapse:collapse; 
}
div.tr { 
	display:table-row; 
}
div.td { 
	display:table-cell; 
	padding:5px; 
  vertical-align:middle;
}

div.tr:nth-of-type(odd) {
    background: #FAFAFA;
}

.pathname {
	font-size: 80%;
}


